body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.welcome-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
}

.content-area {
  padding-left: 50px;
}

.content-area h1 {
  font-size: 50px;
  font-weight: 400;
}

.content-area a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  /* background-color: orange; */
  background-image: linear-gradient(orange, tomato);
  padding: 10px 35px;
  border-top-right-radius: 15px;
}

.content-area p {
  text-align: justify;
  width: 80%;
}

.image-area img {
  width: 70%;
}

/* dream area  */
.dream-section {
  display: flex;
  background-position: right;
  margin-top: 100px;
  background-repeat: no-repeat;
  flex-direction: row-reverse;
  background-image: url(images/dream-bg.png);
}

.dream-section a {
  border-bottom-left-radius: 15px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  padding-left: 50px;
}

.experiances-list {
  margin: 50px;
  padding: 45px;
  border-left: 10px solid tomato;
  box-shadow: 1px 1px 40px 5px gray;
}

.experiances-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  /* flex-direction: row-reverse; */
}

footer {
  padding-left: 600px;
}

.experiance-list {
  margin: 30px;
  padding: 30px;
  border-left: 10px solid #FF8911;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
  box-shadow: 1px 1px 30px gray;
}

#rong {
  border-left: 5px solid;
  border-image: linear-gradient(blue, purple);
  border-image-slice: 1;
}